.bodyPallet{
padding: 0%;
margin: auto;
font-size: medium;

}

.divPallet{
padding: 0%;
margin: auto;
font-size: medium;
}

h1{
    border-radius: 15px;
    padding: 20px;
    height: 150px;
    width: 300px;
    padding: 0%;
    margin: auto;
    font-size: medium;
    border: 5px solid;
    border-image: linear-gradient(to right, #4CAF50, #2196F3);
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;
    text-align: center;
}
